@model TeacherUpdateViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>


<form method="post">
    <input asp-for="Name" placeholder="Name" class="form-control" />
    <select asp-for="RemovedGroupIds" asp-items="Model.RemovedGroups" placeholder="Name" class="form-control"></select>
    <button type="submit">Update</button>
</form>
